---
import ServiceCard from "../components/ServiceCard";
import web_icon from "../assets/images/web-svgrepo-com.svg";
import file_icon from "../assets/images/files-text-content-svgrepo-com.svg";
import meter_icon from "../assets/images/tachometer-svgrepo-com.svg";
import layer_icon from "../assets/images/layer.svg";
---

<section id="services" class="py-20 bg-offWhite">
	<div class="max-w-[1140px] m-auto px-4">
		<h2
			class="text-navy font-extrabold text-center text-3xl font-jost uppercase mb-10"
			data-aos="fade-up"
		>
			Services
		</h2>
		<p class="text-dark text-center mb-10" data-aos="fade-up">
			Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
			aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
			quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
			sit in iste officiis commodi quidem hic quas.
		</p>
		<div class="flex flex-wrap gap-5">
			<ServiceCard
				src={web_icon.src}
				heading="Lorem Ipsum"
				text="Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi"
			/>
			<ServiceCard
				src={file_icon.src}
				heading="Sed ut perspici"
				text="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore"
			/>
			<ServiceCard
				src={meter_icon.src}
				heading="Magni Dolores"
				text="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia"
			/>
			<ServiceCard
				src={layer_icon.src}
				heading="Nemo Enim"
				text="At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis"
			/>
		</div>
	</div>
</section>
