---
import Hamburger from "../components/Hamburger";
const navbarNav = [
	{ text: "Home", path: "/" },
	{ text: "About", path: "#about" },
	{ text: "Services", path: "#services" },
	{ text: "Portfolio", path: "#portfolio" },
	{ text: "team", path: "#team" },
	{ text: "Contact", path: "#contact" },
];
---

<header class="bg-navy py-8">
	<div class="flex m-auto justify-between items-center max-w-[1140px] px-4">
		<div class="logo">
			<h2
				class="uppercase font-extrabold tracking-wide text-white text-3xl font-jost"
			>
				<a href="/">Arsha</a>
			</h2>
		</div>
		<div class="nav">
			<Hamburger nav={navbarNav} client:load />

			<ul class="navbar-nav hidden text-center md:flex md:items-center gap-5">
				{
					navbarNav.map((nav) => {
						return (
							<li class="mt-10 md:m-0">
								<a
									class="text-navy md:text-white font-semibold tracking-wide"
									href={nav.path}
								>
									{nav.text}
								</a>
							</li>
						);
					})
				}
				<button
					class="outline outline-2 rounded-3xl outline-skyBlue text-white font-bold px-5 py-2 hover:bg-skyBlue transition duration-300"
					>Get Started</button
				>
			</ul>
		</div>
	</div>
</header>
