---
import PricingCard from "../components/PricingCard";
---

<section class="py-20">
	<div class="max-w-[1140px] m-auto px-4">
		<h2
			data-aos="fade-up"
			class="text-navy font-extrabold text-center text-3xl font-jost uppercase mb-10"
		>
			pricing
		</h2>
		<p class="text-dark text-center mb-10" data-aos="fade-up">
			Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex
			aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos
			quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
			sit in iste officiis commodi quidem hic quas.
		</p>
		<div class="md:flex justify-between gap-3">
			<PricingCard price={0} plan="Free" />
			<PricingCard price={29} plan="Business" />
			<PricingCard price={49} plan="Developer" />
		</div>
	</div>
</section>
